extends layout

block content

  h1 #{title}: #{artist.name}
  p= artist.lifespan

  if artist_releases.length

    p #[strong Delete the following releases before attempting to delete this artist.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Releases
      dl
        each release in artist_releases
          dt
            a(href=release.url) #{release.title}
          dd #{release.summary}

  else
    p Do you really want to delete this Artist?

    form(method='POST')
      div.form-group
        input#artistid.form-control(type='hidden', name='artistid', value=artist._id )

      button.btn.btn-primary(type='submit') Delete
