extends layout

block content

  h1 Artist: #{artist.name}
  p #{artist.discogs_id}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Releases
    if artist_releases.length
      dl
        each release in artist_releases
          dt
            a(href=release.url) #{release.title}
          dd #{release.summary}
    else
      p This artist has no releases.

  hr
  p
    a(href=artist.url+'/delete') Delete artist
  p
    a(href=artist.url+'/update') Update artist
