extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='release') Release:
      select#release.form-control(name='release' required)
        option(value='') --Please select a release--
        for release in release_list
          if selected_release==release._id.toString()
            option(value=release._id, selected) #{release.title}
          else
            option(value=release._id) #{release.title}

    div.form-group
      label(for='imprint') Imprint:
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required value=(undefined===copy ? '' : copy.imprint) )
    div.form-group
      label(for='due_back') Date when release available:
      input#due_back.form-control(type='date' name='due_back' value=(undefined===copy ? '' : copy.due_back_yyyy_mm_dd))

    div.form-group
      label(for='status') Status:
      select#status.form-control(name='status' required)
        option(value='') --Please select a status--
        each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
          if undefined===copy || copy.status!=val
            option(value=val)= val
          else
            option(value=val selected)= val

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
