extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Releases
    if genre_releases.length
      dl
        each release in genre_releases
          dt
            a(href=release.url) #{release.title}
          dd #{release.summary}
    else
      p This genre has no releases.

  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre
