extends layout

block content

  h1 Delete Genre: #{genre.name}

  if genre_releases.length

    p #[strong Delete the following releases before attempting to delete this genre.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Releases

      dl
        each release in genre_releases
          dt
            a(href=release.url) #{release.title}
          dd #{release.summary}

  else
    p Do you really want to delete this Genre?

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden', name='id', value=genre._id )

      button.btn.btn-primary(type='submit') Delete
