extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Records
    if genre_records.length
      dl
        each record in genre_records
          dt
            a(href=record.url) #{record.title}
          dd #{record.summary}
    else
      p This genre has no records.

  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre
