extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following release counts:

  ul
    li #[strong Releases:] !{release_count}
    li #[strong Copies:] !{release_instance_count}
    li #[strong Copies available:] !{release_instance_available_count}
    li #[strong Artists:] !{artist_count}
    li #[strong Genres:] !{genre_count}
