extends layout

block content
  h1 Title: #{record.title}

  p #[strong Artist: ]
    a(href=record.artist.url) #{record.artist.name}
  p #[strong Summary:] #{record.summary}
  p #[strong ISBN:] #{record.isbn}
  p #[strong Genre: ]
    each val, index in record.genre
      a(href=val.url) #{val.name}
      if index < record.genre.length - 1
        |,&nbsp;

  div(style='margin-left:20px;margin-top:20px')
    h2(style='font-size: 1.5rem;') Copies

    each val in record_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back:] #{val.due_back}
      p #[strong Id: ]
        a(href=val.url) #{val._id}

    else
      p There are no copies of this record in the library.

  hr
  p
    a(href=record.url+'/delete') Delete Record
  p
    a(href=record.url+'/update') Update Record
