extends layout

block content

  h1 #{title}: #{release.title}

  p #[strong Artist: ]
    a(href=release.artist.url) #{release.artist.name}
  p #[strong Summary:] #{release.summary}
  p #[strong ISBN:] #{release.isbn}
  p #[strong Genre: ]
    each val, index in release.genre
      a(href=val.url) #{val.name}
      if index < release.genre.length - 1
        |,&nbsp;

  hr

  if release_instances.length

    p #[strong Delete the following copies before attempting to delete this Release.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Copies

      each release_copy in release_instances
        hr
        if release_copy.status=='Available'
          p.text-success #{release_copy.status}
        else if release_copy.status=='Maintenance'
          p.text-danger #{release_copy.status}
        else
          p.text-warning #{release_copy.status}
        p #[strong Imprint:] #{release_copy.imprint}
        if release_copy.status!='Available'
          p #[strong Due back:] #{release_copy.due_back}
        p #[strong Id:]
          a(href=release_copy.url) #{release_copy._id}

  else
    p Do you really want to delete this Release?

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden',name='id', value=release._id )

      button.btn.btn-primary(type='submit') Delete
